
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f5e3c7; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}


nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #b22222; 
    z-index: 1000; 
    height: 60px;
}


.restaurant-list-wrapper {
    padding-top: 80px; 
    display: flex;
    flex-grow: 1; 
}


.left-side {
    flex: 2; 
    padding: 20px;
    background-color: #f5e3c7; 
    overflow-y: auto;
}


.right-side {
    flex: 1; 
    padding: 20px;
    background-color: #f5e3c7; 
}


.image-container img, .image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
}

.listing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
}

.listing-footer, .text-container header h2 {
    margin: 0;
    padding: 0;
}


.search-bar {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}


@media (max-width: 768px) {
    .listing-grid {
        grid-template-columns: 1fr; 
    }

    .restaurant-list-wrapper {
        flex-direction: column;
    }
}
